* {
    margin: 0;
    padding: 0;
}

body {
    opacity: 80%;
    margin: 5px;
    font-size: large;
    background-image: url(./imagens/every\ one\ pointing\ meme.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

form {
    text-align: center;
    background-color: rgba(34, 34, 34, 0.8);
}

input {
    background-color: darkgray;
}

/* Container flutuante */
.botao-container {
    position: fixed;
    /* fica fixo na tela */
    top: 53%;
    /* ajuste de posição */
    left: 48%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    pointer-events: auto;
}

/* Botão apontado */
#botao-humor {
    font-size: larger;
    padding: 20px;
    background-color: rgba(239, 247, 127, 0.1);
    cursor: pointer;
    border: none;
    border-radius: 10px;
    box-shadow: 0 0 10px black;
}

/* Mantém a tabela no centro + alinhamento */
table {
    margin: 0 auto;
    width: 340px;
    justify-content: center;
    z-index: 1;
    border-collapse: collapse;
    background-color: whitesmoke;
    text-align: center;
}

th,
td {
    padding: 8px 16px;
    border: 1px solid #cccc
}